body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flag {
    width: 300px;
    height: 200px;
    background-color: #032B44;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.crescent {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
    top: 20px;
    left: 40px;
}

.crescent::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #032B44;
}

.star {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 70px;
}